# Responsáveis por cada área do projeto MedicalFlow

# Geral
* @GabrielMarques1

# Backend (Elysia, Prisma, SQLite)
/backend/ @JuaDevBR @GabrielMarques1

# Frontend & Design (React, UI/UX)
/frontend/ @skrodrigo @GabrielMarques1

# Infraestrutura & CI/CD
docker-compose.yml @joaotolovi @GabrielMarques1
.github/workflows/ @joaotolovi @GabrielMarques1
/backend/Dockerfile @joaotolovi @GabrielMarques1
/frontend/Dockerfile @joaotolovi @GabrielMarques1
